*{
    margin: auto;
    padding: auto;
}
.card{
    height: 280px;
    margin-left: 40%;
    margin-top: 50px;
   
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 100px;
}
button{
    
    height: 50px;
    margin-left: 15px;
}
.button-danger{
    margin-left: 20%;
    padding: 50px;
}